.content-wrapper {
  font-family: proxima-nova-cond-reg,Arial,sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 40px 50px;
  background-color: #ffffff;
}
.centering-wrapper {
  font-family: proxima-nova-cond-reg,Arial,sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app > div.bloko-columns-wrapper > div.centering-wrapper > div:nth-child(1) > div > div > div.bloko-gap.bloko-gap_top {
  font-family: proxima-nova-cond-reg,Arial,sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  margin-top: 25px;
}

p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: black;
  white-space: pre-line;
}